/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* .fl-content-slider-wrapper.fl-content-slider-loaded>.fl-slidediv#vertual\ slide:first-child {
    display: none;
} */

div.product-detail-layout-6 .button-wrapper>a{
	background-color: #68bfd8 !important;
	border-color: #68bfd8 !important;
}

div.product-detail-layout-6 .button-wrapper>a:hover{
	background-color: #42291d !important;
	border-color: #42291d !important;
}


.searchIcon {
  position: absolute;
  right: 10px;
  top: 25px;
}

.showroomSlider .uabb-image-carousel img {
  width: auto !important;
  height: 350px !important;
  max-height: 350px !important;
  max-width: 100%;
  margin: 0 auto;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  background: #c9c1b4;
}

.headerMain .fl-col-group {
  display: flex;
  justify-content: space-between;
}

.fullWidthBanner img {
  width: 100%;
}
.fl-node-5c75183d2d713 .fl-slide-1 .fl-slide-content {
  margin-top: 0px;
}
.phone > a {
  font-weight: 400;
  color: #68bfd8;
}

.iscwp-gallery-slider .slick-dots li button {
  border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
  background: #949494;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content-wrap {
  width: 100% !important;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text {
  font-size: 25px;
}
.fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-content {
  padding-top: 180px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text {
  background: rgba(0, 0, 0, 0.4);
  color: #fff !important;
  padding: 10px;
}
.fl-slide-2 .fl-slide-content-wrap .fl-slide-text p {
  color: #fff !important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text * {
  color: #000 !important;
}
.fl-node-5c75183d2d713 .fl-slide-3 .fl-slide-text .fl-button span {
  color: #fff !important;
}
.fl-node-5c75183d2d713 .fl-slide-4 .fl-slide-photo-wrap .fl-slide-photo {
  margin-bottom: 0px !important;
}
.fl-node-5c75183d2d713 .fl-slide-foreground {
  display: flex;
  flex-direction: column-reverse;
}

.bottom-pager .facetwp-pager {
  float: none;
  text-align: right;
}
.product-colors ul li {
  margin-right: 5px;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #68bfd8;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #68bfd8;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.facet_filters strong {
  color: #68bfd8;
}

.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #68bfd8;
}

.bottom-pager .facetwp-pager {
  text-align: right;
}

footer a:hover {
  color: #f1463c !important;
}

.mobile_top_bar {
  display: none !important;
}

.mobile_top_bar .storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.mobile_top_bar ul.storename a {
  position: relative;
  display: inline-block;
}
.mobile_top_bar ul.storename .address a:before,
.mobile_top_bar ul.storename p.inline_address a:before {
  content: "\F041";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  position: absolute;
  left: -15px;
  top: 0;
  display: inline-block;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #42291d;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #68bfd8 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #68bfd8 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #68bfd8 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #68bfd8 !important;
}

@media (max-width: 1024px) {
  .fl-node-5c75183d2d713 .fl-slide-2 .fl-slide-text {
    font-size: 15px;
  }
  .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu > li {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .headerMain .headerRightNav {
    margin-left: 30px;
  }

  .fl-node-5d08ac826d1d6
    .uabb-creative-menu.uabb-menu-default
    .menu
    > li
    > .uabb-has-submenu-container
    > a {
    padding: 10px 8px !important;
  }
}
@media (max-width: 991px) {
  .style-list .back-button {
    z-index: 15 !important;
  }
}

@media (min-width: 992px) {
    .product-detail-layout-6 .product-variations .slick-slider .slick-arrow {
        top: 25px !important;
    }
}
@media (max-width: 992px) {
  .fl-content-slider-wrapper .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .searchIcon {
    position: static;
  }
  .facet_filters * {
    text-align: left;
  }
  .headerMain .fl-col-group {
    display: flex;
    align-items: center;
  }

  .headerMain .headerRightNav {
    margin: 0;
  }

  .headerMain .headerLogo {
    flex: 2;
  }

  .headerMain .phone.retailer {
    font-size: 26px;
    color: #42291d;
    margin-right: 30px;
    vertical-align: middle;
    font-family: "Ultimate-Icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
  }

  .headerMain .phone.retailer:before {
    content: "\ea3e";
  }
  .headerMain .phone.retailer span {
    font-size: 0;
  }

  .iPadFooter .fl-col-group {
    display: flex;
  }

  .iPadFooter .fl-col-group .fl-col {
    flex: 1;
  }

  ul#menu-copyright-bar-menu {
    display: flex;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
    flex: auto;
  }

  .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
    flex: auto;
  }
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 33.33%;
  }

  .galleryImages .uabb-photo-gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 2px !important;
  }
  .gform_wrapper.gf_browser_safari .gfield_checkbox li input,
  .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_safari .gfield_radio li input[type="radio"] {
    margin-top: 0px !important;
  }
  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 600px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 600px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 600px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 600px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 600px !important;
    max-height: 600px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  .fl-builder-content-977069 .fl-photo-content.fl-photo-img-jpg img {
    max-width: 300px;
  }
  .fl-builder-content-977069 .fl-rich-text > h3 > span {
    font-size: 18px !important;
    line-height: 1.4em !important;
  }
  /* Slider height issue on mobile closed */

  a.responsive-menu-item-link {
    color: #fff;
  }
  footer#djcustom-footer .menu {
    text-align: center;
  }

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px !important;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }

  /* PLP Page Css iPad Air end */

  .getD {
    margin: 0 auto;
  }

  .header_banner > .fl-row-content-wrap {
    padding: 20px 0 !important;
  }

  footer#djcustom-footer .fl-col,
  footer .fl-col {
    width: 100% !important;
  }

  footer table {
    width: 100% !important;
  }

  .fl-page-content .uabb-module-content.uabb-dual-button.uabb-align-left {
    justify-content: center;
  }

  .mobile_top_bar {
    display: block !important;
  }
  .mobile_top_bar .storename * {
    color: #fff;
  }
  .mobile_top_bar .storename a:hover * {
    color: #68bfd8;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content .fl-module-content ul.storename,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html,
  footer *,
  .fl-callout *,
  .fl-page-content .fl-module.fl-module-icon,
  .fl-page-content .uabb-module-content.uabb-heading-wrapper * {
    text-align: center !important;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
  }

  .fl-page-content ul.storename,
  ul.store-opening-hrs {
    padding: 0;
    list-style: none;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .text_left_content .fl-rich-text * {
    text-align: left !important;
  }
}

@media (max-width: 767px) {
  .highlightPoits .fl-col-group .fl-col {
    width: 100% !important;
  }
  .highlightPoits .fl-col-group .fl-col .fl-col-content {
    border: 0;
  }
  .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text > p {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
  }
  .location-top .fl-button {
    text-align: unset;
  }
  .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
    right: 20px;
  }
  .fl-node-5d1f5d4b47fe6 [dir="rtl"] div.uabb-image-carousel .slick-prev {
    left: 20px;
  }
  .iPadFooter .fl-col-group {
    flex-direction: column;
  }
  .iPadFooter .fl-col-group .fl-col {
    flex: 2;
    width: 100% !important;
    text-align: center;
  }
  ul#menu-copyright-bar-menu {
    justify-content: center;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }

  /*     button.rmp_menu_trigger {
        top: 8px !important;
    } */
}
.facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
  border-bottom: 2px solid #68bfd8 !important;
  color: #68bfd8 !important;
}